{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
{% trans "Signup" %}
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card" style="max-width: 40rem;">
            <div class="card-header">
             <h3>{% trans "Sign Up" %}</h3>
             </div>

            <div class="card-body card-account">
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"> <strong>sign in</strong></a>.{% endblocktrans %}
            </p>

       
    
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-secondary btn-card my-4">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
       
        </div>
    </div>
    </div>
</div>
</div>
    {% endblock content %}