.image_container {
    position: relative;

}

body {
    background-color: rgba(240, 238, 238);
}


.post-text {

    background-color: white;
}

/* Card */
.card-title, .card-text {
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.btn-like {
    color:red;
    border:none;

}


/* Footer */
.contact-details {
    list-style: none;
}

