.image_container {
    position: relative;

}

body, .card-account{
    background-color: rgba(240, 238, 238);
    font-family: karla, sans-serif;
    font-weight: 300;
}


.post-text {

    background-color: white;
}

#logo {
    font-weight: 600;
}


/* 
Headings */
h1, h2,h3,h4,h5,h6 {
    font-family: lato, sans-serif;
}



/* Card */

.card-title, .card-text {
    color: black;
}


a:link {
    text-decoration: none;
}


a:hover {

    text-decoration: none;
    font-weight: none;
}


a {
    color: black;
  
}

.btn-like {
    color:red;
    border:none;

}


/* Footer */
.contact-details {
    list-style: none;
}

.social-media {
    color: white;
    font-size: 1.5rem;
}

.social {
    background-color: #969696;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.avatar-image {
border-radius: 50%;
max-width: 50%;
    height: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}


.page-btn {
    font-size: medium;
}


.btn-cat {
    background-color: #fff;
}

.highlight {
    color: red;
    background-color:yellowgreen
}


#btn-cat:hover {
    border-color: orange;
    border-width: 5px;
}

/* media queries for sidebar */
@media screen and (min-width:1400px) {

   .btn-group-vertical {
    max-width: 75%;
   }

   .pop-left {
    max-width: 50%;
    
   }

   .pop-right {
    max-width: 50%;
    justify-content: flex-start;
    display: inline-flex;
   }
   

   }


@media screen and (min-width:1750px) {
    .btn-group-vertical {
        max-width: 50%;
        
    }