.image_container {
    position: relative;

}

body {
    background-color: rgba(240, 238, 238);
}


.post-text {

    background-color: white;
}

/* Card */

.card-title, .card-text {
    color: black;
}

a:link {
    text-decoration: none;
}


a:hover {

    text-decoration: none;
    font-weight: none;
}


a {
    color: black;
  
}

.btn-like {
    color:red;
    border:none;

}


/* Footer */
.contact-details {
    list-style: none;
}

.social-media {
    color: white;
    font-size: 1.5rem;
}

.social {
    background-color: #969696;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.avatar-image {
border-radius: 50%;
max-width: 50%;
    height: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}


.page-btn {
    font-size: medium;
}