{% extends "base.html" %} {% block content %}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class='text-center pt-3'>About</h1>

            <hr>

            <p> Wild Atlantic Way travel blog was launched in 2023.</p>

            <p> What can you expect to find here? Articles about tourist locations and places to visit along Irelands west coast.
            You can read the detailed posts. Logged in users can leave comments and like other users posts. Logged in users can also
            create, edit and delete their own posts.
            </p>

            <p>Comments and posts must be approved by the site administrator before they are posted live to the site. The site
            administrator has the right to remove posts and comments that are not in keeping with the sites rules!</p>
            
       
         

            {% if user.is_authenticated %}
            {% else %}
            <p>If you like what you see then <strong><a href="{% url 'account_signup' %}">Register</a></strong>
                here.</p>

            <p>Already have an account, then <strong><a href="{% url 'account_login' %}">Login</a></strong> here</p>

            {% endif %}

            <hr>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-md-3">
            <ul class="contact-details">
                <li class="text-center">
                    <h3>Contact</h3>
                </li>
                <li class="text-center">+353 (0) 91 100 2000 </li>
                <li class="text-center"> info@travelblog.com</li>
            </ul>
        </div>
    </div>

</div>

<div class="col"></div>

{% endblock %}