<div class="container my-4">

<div class="row justify-content-center my-4">
    <div class="col-md-3">

<ul class="contact-details">
    <li>
        <h3>Travel Blog</h3>
    </li>
    <li>+353 (0) 91 100 2000 </li>
    <li> info@travelblog.com</li>
</ul>

</div>
</div>


<div class="row justify-content-center my-4">
    <div class="col-1">
        <a href="https://wwww.facebook.com" class="social-media" target="_blank" rel="noopener"
            aria-label="visit our facebook page (open in new tab)"><i class="fa-brands fa-facebook"></i></a>
</div>
<div class="col-1">
        <a href="https://www.instagram.com" class="social-media" target="_blank" rel="noopener"
            aria-label="visit our instragram page (open in new tab)"><i class="fa-brands fa-square-instagram"></i></a>
</div>
<div class="col-1">
        <a href="https://www.youtube.com" class="social-media" target="_blank" rel="noopener"
            aria-label="visit our youtube channel (open in new tab)"><i class="fa-brands fa-square-youtube"></i></a>

</div>
</div>

</div>