
    <div class="row justify-content-center col-8">
        <div class="col-2">
    {% if posts.has_previous %}
    <a href="?page={{posts.previous_page_number}}" class="btn"><i class="m-4"></i>Previous</a>
    {% else %}
    <a href="#" class="btn btn-white disabled"><i class="m-4"></i>Previous</a>
    {% endif %}
    </div>

    <div class="col-2">
    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}" class="btn"><i class="m-4"></i>Next</a>
    {% else %}
    <a href="#" class="btn btn-white disabled"><i class="m-4"></i>Next</a>
    {% endif %}
    </div>

    </div>
