{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}


<div class="container">

    <img class ="card-img-top" src="{{ post.featured_image.url}}">

    <div class="row">
        <div class="col">
       <h1>{{post.title}}</h1>
        <p>{{post.author}}</p>
        <p>{{post.created_on}}</p>
        <p>{{post.content}}</p>
        </div>
    </div>

</div>

<div class="col-md-8">
    <h3>Comments</h3>
    <div class="card-body">
        {% for comment in comments %}
        <div class="comments">
            <p>
            {{comment.name}}
            <span>
                {{comments.created_on}}
            </span>
            </p>
            {{ comment.body | linebreaks}}
        </div>

        {% endfor %}

    </div>
</div>


<div class="col-md-4 card mb-4 mt-3">
<div class ='card-body'>
{% if commented %}
<div class="alert" alert-success role="alert">
    Your comment is awaiting approval
</div>
{% else %}

{% if user.is_authenticated %}
<h3>Leave a comment</h3>
<p> Posting as: {{ user.username }}</p>
<form method ="post">
    {{ comment_form | crispy }}
    {% csrf_token %}
    <button type ="submit" class = "btn btn-signup btn-lg">Submit</button>
</form>

{% endif %}
{% endif %}
</div>

</div>


{% endblock content %}