<!-- Categories -->

<h6 class="sidebar-title">
    Categories
</h6>


<div class="row">
    <div class="col-12 btn-group-vertical">
        {% for category in categories %}
        <a class="btn btn-outline-secondary mb-1 rounded btn-cat"
            href="{% url 'category_filter' category.slug %}">{{category.name}} </a>
        {% endfor %}

    </div>
</div>

<hr>

<!-- Clear filters -->
<a class="btn btn-secondary rounded" aria-current="page" href="{% url 'home' %}">Clear
    filters</a>
<hr>

<!-- Popular Posts -->


<h6 class="sidebar-title">
    Popular Posts
</h6>

{% for popular in popular_posts %}

<a class="media align-items-center" href="{% url 'post_detail' popular.slug %}">

    <div class="row">

        <div class="pop-left">
            {% if "placeholder" in popular.featured_image.url %}
            <img src="https://res.cloudinary.com/do3uuaxth/image/upload/v1702150987/placeholder_yec4dm.jpg"
                class="card-img-end img-fluid p-0 m-1 rounded" alt="blog post image">
            {% else %}
            <img class="card-img-end img-fluid p-0 m-1 rounded" src="{{ popular.featured_image.url}}"
                alt="blog post image">
            {% endif %}
        </div>

        <div class="p-1 d-flex align-items-center justify-content-center pop-right">
            <p class="align-content-center">
                {{ popular.title }}
            </p>
        </div>

    </div>
    </a>
    {% endfor %}
